html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: none;
    color: #ff9900;
}

a:hover {
    text-decoration: underline;
	color: #cc7700;
}

body {
  background: #FCFFF5;
  margin-bottom: 100px;
  font-family: 'Fanwood Text';
  font-size: 20px;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento';
  line-height: 1.6em;
}

/* bs navbar styles overrides */
.navbar{
  background: #3E606F;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar .navbar-brand:focus {
  color: #fff;
  font-family: 'Quattrocento';
}
.navbar .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #eee;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #91AA9D;
}

.welcome,
.help {
  margin-top: 40px;
  display: block;
  text-align: center;
}

.welcome2 {
  font-weight:100;
}

.help {
  font-size: 1em;
}

@media (max-width: 700px) {
  .welcome {
    font-size: 1.5em;
  }

  .welcome2 {
    font-size: 1.3em;
  }
}

table {
  margin: 100px auto 40px;
}
td, input {
    font-size: 1.2em;
    display: block;
    width: 100%;
}

td {
    margin-top: 10px;
}

.help {
    font-size: 2em;
}

.main-items .col-md-4 {
  padding: 2em;
}
.main-items {
  text-align: center;
}
.main-items .glyphicon {
  display: block;
  font-size: 72px;
  margin: 32px;
}
.main-items p {
  text-align: center;
}

.intro-text {
  margin: 48px 200px;
  line-height: 1.8em;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
@media screen and (max-width: 1200px) {
  .intro-text {
    margin: 48px;
  }
}
@media screen and (max-width: 600px) {
	.intro-text {
		margin: 0;
	}
	.intro-container h1, .img .intro-container h1 {
		font-size: 2.3em;
	}
}
hr {
  border-color: rgba(30, 30, 30, 0.2);
}
.intro-container {
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width : 768px) {
  .intro-container {
    padding: 48px 32px 0 32px;
  }
}
.intro-container h1 {
  font-size: 3em;
  color: #5B7885;
}
.intro-container a {
  color: #173A49;
}

.img .intro-container h1 {
  text-shadow: none;
}
.img .intro-container {
  background-image: url(../images/header.jpg);
  text-shadow: 0 1px 5px rgba(255,255,255,0.6);
  color: #000;
}
@media only screen and (min-width : 768px) {
  .img .intro-container {
    padding: 48px 32px 32px 32px;
  }
}
.annoucement-box {
	background-color: #3E606F;
	color:#fff;
	text-align:left;
	padding:20px;
}

.helpMain {
	padding-top: 50px;
	padding-bottom: 50px;
}

.intro-section {
 	padding: 64px 0;
}

footer {
	background-color: #333;
	color: white;
	padding: 24px;
	position: absolute;
	margin-top:100px;
	width: 100%;
	height: 100px;
	bottom: 0;
}
@media screen and (max-width: 600px) {
	footer {
		padding: 12px 0 0 0;
	}
}

.helpContainer {
  margin-top:100px;
}
.help-form {
 background:#3E606F;
 padding:15px;
 color:#fff;
	margin-bottom: 24px;
}

.help-form h1{
	padding-left:15px;
	padding-right:15px;
}

.helpBox input, #editBox input{
  color:#000;
}

#editBox{
  background:#3E606F;
  color:#fff;
  padding:15px;
}
#editBox h1{
margin-top:0;
}

input {
    border-radius: 0px;
    border: 1px solid #fff;
    padding:3px;
}

.helpBox input[type='checkbox'] {
  border-radius: 0!important;
  width: auto;
  float: right;
}

.helpBox .question{
  font-weight: 700;
}

.helpBox label{
  display: block;
  font-weight: 100;
}

.workgroupdes{
  font-size: 0.8em;
}

.workgroupdes a{
  text-decoration: underline;
}

input[type='submit'] , input[type='button']{
    margin-top: 20px;
    background: white;
}


.indev{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color #E7E7E7;
}


[type='button']{
    margin-top: 20px;
    background: white;
}


.indev{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color #E7E7E7;
}

.help-button {
		display: inline-block;
    margin: 48px auto 0 auto;
    padding: 24px;
    font-size: 24px;
    background: #3E606F;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.help-button:hover {
	color: #fff;
}

/* make sure images can scale on smaller devices */
@media screen and (max-width: 720px) {
	.container img {
		height: auto;
		max-width: 100%;
		display: block;
		margin: auto;
	}
}
