html {
  position: relative;
  min-height: 100%;
}
/* we need positive: relative on our html element to support the fixed footer,
 * but this will make the wpadminbar hang over the page in its smallest form.
 * This fixes moves it back up.
 */
@media screen and (max-width: 600px) { #wpadminbar { top: -46px; }}

a {
  text-decoration: none;
  font-weight: bold;
  color: #268b9a;
}

a:hover {
  text-decoration: underline;
  color: #2da1b4;
}

body {
  margin-bottom: 70px;
  font-family: 'Noto Sans';
  font-size: 14px;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento';
  line-height: 1.6em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  letter-spacing: -0.5px;
}

.banner-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* bs navbar styles overrides */
.navbar, .navbar .btn {
  font-size: 18px;
}
.navbar-secondary{
  background: #3E606F;
}
.navbar-brand img {
  max-height: 60px;
  width: auto;
}
@media screen and (max-width: 425px) {
  .navbar-brand img {
    max-height: 40px;
  }
}
.nav-link {
  font-weight: normal;
}

.help-needed {
  background-color: #59a1ab;
  color: #fff;
}
.help-needed h2 {
  color: #113f47;
}
.help-needed a {
  color: #fff;
}

table {
  margin: 100px auto 40px;
}
td, input {
  font-size: 1.2em;
  display: block;
  width: 100%;
}

td {
  margin-top: 10px;
}

hr {
  border-color: rgba(30, 30, 30, 0.2);
}

footer {
  background: #3E606F;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer a {
  color: inherit;
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 12px 0 0 0;
  }
}

.helpContainer {
  margin-top:100px;
}
.help-form {
  background:#3E606F;
  padding:15px;
  color:#fff;
  margin-bottom: 24px;
}

.help-form h1{
  padding-left:15px;
  padding-right:15px;
}

.helpBox input, #editBox input{
  color:#000;
}

#editBox{
  background:#3E606F;
  color:#fff;
  padding:15px;
}
#editBox h1{
  margin-top:0;
}

input {
  border-radius: 0px;
  border: 1px solid #fff;
  padding:3px;
}

.helpBox input[type='checkbox'] {
  border-radius: 0!important;
  width: auto;
  float: right;
}

.helpBox .question{
  font-weight: 700;
}

.helpBox label{
  display: block;
  font-weight: 100;
}

input[type='submit'] , input[type='button']{
  margin-top: 20px;
  background: white;
}

[type='button']{
  margin-top: 20px;
  background: white;
}

/* make sure images can scale on smaller devices */
@media screen and (max-width: 720px) {
  .container img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

/* contact page */
.contact-card {
  background-color: #eee;
  padding: 15px;
  margin: 24px 0;
}
.contact-card .circle-image,
.contact-page .circle-image {
  margin: 0;
  width: 100%;
  max-width: 200px;
  margin: auto;
  height: auto;
}
.contact-page .circle-image {
  margin: 24px auto;
  margin-top: 0;
}
.contact-card h3 {
  margin-top: 0;
}
.contact-sidebar {
  background-color: #3E606F;
  color: #fff;
  padding: 24px;
  word-wrap: break-word;
}
.contact-sidebar h1 {
  margin-top: 0;
}
.contact-description {
  padding: 24px;
}
