html {
  min-width: 320px;
}

h1 {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 960px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

em {
  color: inherit;
}

#login h1 a {
  background-image: url(../img/logo.svg);
  margin: 0;
  width: 100%;
  background-size: contain;
  background-position: center;
}

body.home .uk-section-primary h2 {
  color: #00474e;
}

.offer {
  background: #00474e;
  color: #fff;
  padding: 1rem;
  border-right: 1rem solid white;
  border-bottom: 1rem solid white;
}

.news-container .uk-first-column {
}

.offer p {
  font-size: 0.8rem;
}
@media (min-width: 960px) {
  .offer p {
    font-size: 0.9rem;
  }
}
.offer img {
  margin-bottom: 1rem;
}
.offer h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}
.offer .button {
  background: #fff;
  padding: 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
}

body.home .news p,
body.home .event p,
body.home .text p {
  margin-top: 0;
  text-align: left;
}

body.home .news h3,
body.home .event h3,
body.home .text h3 {
  margin-bottom: 0.5rem;
}

body.home .news,
body.home .event {
  margin-bottom: 1em;
}

body.home .news-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#home-top-sidebar {
  padding: 0 15px;
}
#home-top-sidebar .wp-block-group {
  padding: 1rem;
}

@media (min-width: 640px) {
  body.home .news-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 15px;
  }
  #home-top-sidebar {
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  body.home .news-container {
    padding-left: 60px;
    padding-right: 30px;
  }
  #home-top-sidebar {
    padding: 0 60px;
  }
}

body.home .events-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 640px) {
  body.home .events-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (min-width: 960px) {
  body.home .events-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

body.home .content-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 640px) {
  body.home .content-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 960px) {
  body.home .content-container {
    padding-right: 60px;
    padding-left: 30px;
  }
}

body.page section,
body.single section,
body.archive section {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 640px) {
  body.page section,
  body.single section,
  body.archive section {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 960px) {
  body.page section,
  body.single section,
  body.archive section {
    padding-left: 60px;
    padding-right: 60px;
  }
}

body.page a,
body.single a,
body.archive a {
  color: #008087;
}

body.page a:hover,
body.single a:hover,
body.archive a:hover {
  color: #008087;
  text-decoration: underline;
}

body.page p,
body.single p,
body.archive p {
  text-align: justify;
}

body.page p a,
body.single p a,
body.archive p a {
  font-weight: bold;
}

body.page .uk-card .uk-card-title,
body.single .uk-card .uk-card-title,
body.archive .uk-card .uk-card-title {
  margin: 10px 0 0 0;
  font-size: 1rem;
}

body.page .uk-card .uk-card-body p,
body.single .uk-card .uk-card-body p,
body.archive .uk-card .uk-card-body p {
  margin: 0;
  text-align: left;
}

body.page .fhb-contact,
body.single .fhb-contact,
body.archive .fhb-contact {
  padding-top: 0;
}

body.page .fhb-contact .fhb-profile .uk-comment-avatar,
body.single .fhb-contact .fhb-profile .uk-comment-avatar,
body.archive .fhb-contact .fhb-profile .uk-comment-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px #008087;
}

body.page .fhb-contact .fhb-profile .name,
body.single .fhb-contact .fhb-profile .name,
body.archive .fhb-contact .fhb-profile .name {
  font-weight: bold;
}

body.page .fhb-contact .fhb-profile .name,
body.page .fhb-contact .fhb-profile .details,
body.page .fhb-contact .fhb-profile .phone,
body.page .fhb-contact .fhb-profile .email,
body.single .fhb-contact .fhb-profile .name,
body.single .fhb-contact .fhb-profile .details,
body.single .fhb-contact .fhb-profile .phone,
body.single .fhb-contact .fhb-profile .email,
body.archive .fhb-contact .fhb-profile .name,
body.archive .fhb-contact .fhb-profile .details,
body.archive .fhb-contact .fhb-profile .phone,
body.archive .fhb-contact .fhb-profile .email {
  display: block;
}

body.page .fhb-contact .fhb-profile .phone,
body.page .fhb-contact .fhb-profile .email,
body.single .fhb-contact .fhb-profile .phone,
body.single .fhb-contact .fhb-profile .email,
body.archive .fhb-contact .fhb-profile .phone,
body.archive .fhb-contact .fhb-profile .email {
  padding-top: 5px;
}

body.page .fhb-contact .fhb-profile .email,
body.single .fhb-contact .fhb-profile .email,
body.archive .fhb-contact .fhb-profile .email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*body.page .uk-container,
body.single .uk-container,
body.archive .uk-container {
  max-width: inherit;
}*/

body.page .more-link,
body.single .more-link,
body.archive .more-link {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

body.page .fhb-time,
body.page .fhb-date,
body.page .fhb-location,
body.single .fhb-time,
body.single .fhb-date,
body.single .fhb-location,
body.archive .fhb-time,
body.archive .fhb-date,
body.archive .fhb-location {
  padding: 5px;
  font-size: 0.8rem;
  border-left: solid 2px #008087;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fhb-logo-small {
  position: relative;
  background-color: #f8f8f8;
  padding: 15px 15px 15px 15px;
}

#fhb-logo-small img {
  height: 3em;
}

#fhb-logo-small button {
  position: absolute;
  top: 20%;
  right: 0;
  background-color: transparent;
  padding: 0;
  margin-right: 15px;
  margin-top: 5px;
  color: #00474e;
}

#fhb-logo-small li a {
  color: #00474e;
}

#fhb-logo-small li.uk-active a {
  font-weight: bold;
}

#fhb-logo-small .uk-dropdown {
  padding: 15px;
  font-size: 1rem;
}

/* NAV */
.uk-navbar li a {
  text-transform: none;
}

@media (min-width: 960px) {
  .uk-navbar li a {
    font-size: 0.94rem;
    height: 75px;
  }
}


.uk-navbar li a:hover {
  text-decoration: none;
}

.uk-navbar li.uk-active a {
  font-weight: bold;
}

#nav-top {
  padding: 0;
}

@media (min-width: 640px) {
  #nav-top {
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  #nav-top {
    padding: 0 60px;
  }
}

#nav-top li a {
  color: #008087;
  padding: 15px;
}

#nav-top li a:hover {
  color: white;
  background-color: #008087;
}

#nav-top #fhb-logo {
  padding: 0;
  width: 8em;
}

@media (min-width: 960px) {
  #nav-top #fhb-logo {
    width: 9em;
  }
}

#nav-sub {
  padding: 0 15px 0 0;
  color: white;
}

@media (min-width: 640px) {
  #nav-sub {
    padding: 0 30px 0 0;
  }
}

@media (min-width: 960px) {
  #nav-sub {
    padding: 0 60px 0 0;
  }
}

#nav-sub .uk-navbar-nav > li > a {
  color: white;
  padding: 15px;
}

#nav-sub .uk-navbar-nav > li > a:hover {
  background-color: white;
  color: #008087;
}

#nav-sub .uk-navbar-nav > li:last-of-type {
  margin: auto;
}

#nav-sub .uk-navbar-nav > li:last-of-type {
  padding-left: 15px;
}

#nav-sub .uk-navbar-nav > li:last-of-type > a {
  background-color: white;
  height: 2.5em;
  color: #008087;
  border-radius: 6px;
}

#nav-sub .uk-navbar-nav > li:last-of-type > a:hover {
  background-color: #559fac;
  color: white;
}

#nav-bottom {
  padding: 0;
  font-size: 0.7rem;
  display: flex;
  background-color: #018b97;
  color: white;
}

@media (min-width: 960px) {
  #nav-bottom {
    font-size: 0.85rem;
  }
}

@media (min-width: 640px) {
  #nav-bottom {
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  #nav-bottom {
    padding: 0 45px;
  }
}

#nav-bottom .fhb-nav-nolink {
  padding: 0 15px;
}

@media (max-width: 639px) {
  #nav-bottom .fhb-nav-nolink {
    padding: 15px 15px 0 15px;
  }
}

@media (max-width: 639px) {
  #nav-bottom {
    display: block;
  }
}

#nav-bottom .uk-navbar-nav > li > a {
  color: white;
}

#nav-bottom .uk-navbar-nav > li > a:hover {
  color: #018b97;
  background-color: white;
}

/* Header images */
.fhb-article-image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-color: #00474e;
}

.fhb-article-image:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 54.6875%;
}

.fhb-article-image > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 640px) {
  .fhb-article-image {
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .fhb-article-image:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 39.0625%;
  }
  .fhb-article-image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 960px) {
  .fhb-article-image {
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .fhb-article-image:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 27.34375%;
  }
  .fhb-article-image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.fhb-article-image h1 {
  margin: 0;
  padding: 0;
  color: transparent;
}

.fhb-thumbnail {
  background-color: #00474e;
  position: relative;
  background-size: cover;
  background-position: center;
}

.fhb-thumbnail:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 55.36585%;
}

.fhb-thumbnail > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Contact form */
form {
  padding: 15px 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: solid 1px #008087;
  font-family: inherit;
  font-size: inherit;
  width: calc(100% - 15px);
  padding: 4px;
}

form input[type="submit"] {
  color: white;
  height: 2.5em;
  background-color: #008087;
  border-radius: 6px;
  margin-right: 15px;
  -webkit-appearance: none;
}

form input[type="submit"]:hover {
  background-color: #559fac;
}

form div.wpcf7-response-output {
  margin: 2em 0;
  padding: 0.2em;
  border: none;
  font-weight: bold;
}

form div.wpcf7-mail-sent-ok {
  color: #008087;
}

form div.wpcf7-validation-errors {
  color: red;
}

form span.wpcf7-not-valid-tip {
  font-size: 0.7rem;
}

form .f_newsletter {
  padding-bottom: 1rem;
  display: inline-block;
}

/* Utilities */
::selection {
  background: #008087;
}

::-moz-selection {
  background: #008087;
}

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

/* Print */
@media print {
  .fhb-article-image,
  .uk-card-media-top {
    display: none;
  }
}

/* Tabs */
.tabs-container {
  margin-top: 40px;
}
.tabs-nav {
  margin: 0;
  border-bottom: 2px solid #008087;
}
ul.tabs-nav {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.tabs-nav li {
  display: inline-block;
  flex: 0 1 content;
  background-color: #f8f8f8;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
.tabs-nav li:last-of-type {
  border-right: 1px solid #aaa;
}
.tabs-nav li.active {
  margin-top: -2px;
  background-color: #008087;
}
.tabs-nav li.active a,
.tabs-nav li.active h2 {
  color: #fff;
}
.tabs-nav h2 {
  margin: 0;
}
.tabs-nav a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
@media (max-width: 550px) {
  .tabs-nav h2 {
    font-size: 1em;
  }
  .tabs-nav a {
    padding: 0.4em 0.8em;
  }
}
@media (max-width: 375px) {
  .tabs-nav h2 {
    font-size: 0.9em;
  }
  .tabs-nav a {
    padding: 0.3em 0.6em;
  }
}
div.tab {
  display: none;
  margin-left: 1em !important;
  margin-bottom: 1em;
  padding: 1em 0;
}
div.tab.active {
  display: block;
  flex-basis: 100% !important;
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:only-child).tab.active {
    flex-basis: 100% !important;
  }
}
div.tab ul {
  margin-left: -1em;
}

/* Home page top sidebar */
#home-top-sidebar p:last-of-type {
  margin-bottom: 0;
}

#home-top-sidebar .wp-block-media-text {
  grid-template-columns: 25% auto;
}

#home-top-sidebar .wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 5%;
}

@media (max-width: 550px) {
  #home-top-sidebar .wp-block-media-text {
    grid-template-columns: 0% auto !important;
  }
  #home-top-sidebar .wp-block-media-text .wp-block-media-text__content {
    padding: 0;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  #home-top-sidebar .wp-block-media-text {
    grid-template-columns: 0% auto !important;
  }
  #home-top-sidebar .wp-block-media-text .wp-block-media-text__content {
    padding: 0;
  }
}

@media (min-width: 960px) {
  #home-top-sidebar .wp-block-media-text {
    grid-template-columns: 18% auto;
  }
}
